@import './globals';
@import './variables';
@import './active';

body {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    place-content: center;

    main {
        margin-top: 36px;
        padding: 32px;
        border-radius: 24px;
        width: 60vw;
        height: fit-content;
        column-gap: 24px;

        #information {
            width: 48%;
            flex-direction: column;
            
            .entry {
                padding: 8px;
                .fontInfo {
                    font-weight: 700;
                    font-size: 1rem;
                    color: $darkGrayishCyan;    
                    margin-bottom: 12px;
                }
            }
            #bill-amount {
                input[type=number] {
                    @include inputStyle;
                    background-image: url('/images/icon-dollar.svg');
                    &:hover, &:focus {
                        border: 2px $primaryStrongCyan solid;
                    }
                }
            }

            #select-tip {
                padding: 32px 8px;
                .percentages {
                    margin-top: 16px;
                    grid-template-columns: repeat(3, 1fr);
                    grid-auto-columns: minmax(200px, auto);
                    grid-template-rows: repeat(2, auto);
                    grid-gap: 15px;

                    .percentage {
                        @include selectTipItems;
                        background-color: $veryDarkCyan;
                        color: $white;
                        border: 2px $veryDarkCyan solid;

                        &:hover {
                            @include selectPercentages;
                        }
                    }

                    .percentage.active {
                        @include selectPercentages;
                    }

                    #customtip {
                        position: relative;  

                        #customize {
                            @include selectTipItems;
                            box-sizing: border-box;
                            width: 100%;
                            border: 2px $veryLightGrayishCyan solid;
                            color: $veryDarkCyan;
                            background-color: $veryLightGrayishCyan;
                            text-align: end;
                            outline: none;
                            &:hover, &:focus {
                                border: 2px $primaryStrongCyan solid;
                            }
                        }

                        #custom {
                            position: absolute;
                            background-color: $veryLightGrayishCyan;
                            border: 2px $veryLightGrayishCyan solid;
                            @include selectTipItems;
                            color: $darkGrayishCyan;
                            width: 100%;
                            box-sizing: border-box;
                            &:hover {
                                border: 2px hsl(172, 53%, 69%) solid;
                                cursor: pointer;
                            }
                        }
                        #custom.active {
                            display: none;
                        }
                    }
                    
                }
            }
            #no-of-ppl {
                #error-zero {
                    display: none;
                    float: right;
                    color: rgb(223, 86, 0);
                    font-weight: 700;
                }
                input[type=number] {
                    @include inputStyle;
                    background-image: url('/images/icon-person.svg');
                    &:hover, &:focus {
                        border: 2px $primaryStrongCyan solid;
                    }
                }
            }
            #no-of-ppl.error {
                #error-zero {
                    display: block;
                }
                input[type=number] {
                    border: 2px rgb(223, 86, 0) solid;
                }
            }
        }

        #calculator {

            width: 38%;
            flex-direction: column;
            background-color: $veryDarkCyan;
            border-radius: 15px;
            padding: 36px 32px 32px 32px;

            #result {
                grid-template: repeat(2, 1fr) / repeat(2, auto);
                grid-gap: 18px;

                .per {
                    margin: auto 0;
                    font-size: 16px;
                    color: $white;
                    font-weight: 700;
                    span {
                        font-size: 14px;
                        color: $lightGrayishCyan;
                    }
                }
                .amount {
                    margin: auto 0;
                    text-align: end;
                    color: $primaryStrongCyan;
                    font-family: $primaryFont;
                    font-size: 40px;
                    font-weight: 700;
                }
            }
            #reset {
                background-color: $primaryStrongCyan;
                border: 0;
                border-radius: 4px;
                padding: 12px;
                width: 100%;
                color: $veryDarkCyan;
                font-family: $primaryFont;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 700;
                &:hover {
                    background-color: hsl(172, 53%, 69%);
                    cursor: pointer;
                }
            }
            #reset.na {
                mix-blend-mode: darken;
            } // couldn't come up with this solution on JS. 
        }
    }

    .attribution {
        padding-top: 6px;
        &, a {
            color: $white;
            font-weight: 700;
            letter-spacing: 1.5px;
        }
        a:hover {
            color: $veryDarkCyan;
            transition: 0.5s ease;
        }
    }
    
}

@media (max-width: 768px) {

    * {
        font-size: 0.95rem;
    }

    body {
        height: fit-content;

        header {
            margin-top: 48px;
        }

        main {
            flex-direction: column;
            width: auto;
            border-radius: 24px;
            padding: 24px;

            #information {
                width: 100%;
                #select-tip {
                    .percentages {
                        grid-template-columns: repeat(2, 1fr);
                        grid-auto-columns: minmax(100px, auto);
                        grid-template-rows: repeat(3, auto);
                        .percentage {
                            padding: 4px;
                        }
                    }    
                }
            }

            #calculator {
                width: auto;
                margin-top: 36px;
                padding: 28px 24px 28px 24px;
                #result {
                    grid-gap: 0.85rem;
                    padding-bottom: 32px;
                    .per {
                        font-size: 1rem;
                        span {
                            font-size: 0.85rem;
                        }
                    }
                    .amount {
                        font-size: 32px;
                    }
                }
            }
        }
        .attribution {
            padding: 18px 0 20px 0;
            &, a {
                letter-spacing: 0.85px;
            }
        }
    }
    
}